!!!
html
	head
		title= title
		link(rel='stylesheet', href='/styles/main.css')
		script(src='/js/libs/jquery.js')
		script(src='/js/libs/socket.io.js')
		script(src='/js/libs/typingevents.js')
		script(src='/js/libs/underscore.js')
		script(src='/js/main.js')
	body
		.container
			div.offline
				.status.offline
					| Offline
				.status.available
					| Available
				.status.on-call
					| On Call
				.status.away
					| Away
				.modal-box.message
					| No message
			ol.modal-box(contenteditable="", style="margin-top: 90px;padding: 0px 70px 20px 70px;")
				h4
					| Guestbook
				li
					| Enter your name and message here

		#bgChooser.expanded
			.handle-holder
				div
					.handle
						.hr.left
						.hr.right
						span.expand-icon.plus +
						span.expand-icon.minus -
						| Themes
			.bar
				h2.displaying
					span.label
						| Now Displaying: 
					span.name
						| Default background images

				a.button.clear-search
					| Clear search
				.search-group
					a.flickr-logo(href="http://www.flickr.com/")
					input.search(type="text", placeholder="Search background photos")
			.list
				.photo-holder
