!!!
html
	head
		title= title
		link(rel='stylesheet', href='/styles/main.css')
		script(src='/js/libs/jquery.js')
		script(src='/js/libs/socket.io.js')
		script(src='/js/main.js')
	body
		.container

