!!!
html
	head
		title= title
		link(rel='stylesheet', href='/styles/main.css')
		script(src='/js/libs/jquery.js')
		script(src='/js/libs/socket.io.js')
		script
			$(function(){
				$("#nameInput").keyup(function(e){
					var val = $(this).val();

					if(val.length){
						$(".continue").removeClass('disabled');
						$(".continue").attr('href', '/'+val);
					}
					else{
						$(".continue").addClass('disabled');
					}

				});

				$(".continue", function(e){
					if($(this).hasClass('disabled'))
						e.preventDefault();
				});
			});
	body
		.container
			.modal-box
				h1
					| Welcome to Stop Light
				p
					| Please enter your username to view your presence display 
				input#nameInput(type='text')
				br
				a.button.disabled.continue Continue

